===========================================
 Server:   {{ ansible_hostname }}
 OS:       {{ ansible_distribution }} {{ ansible_distribution_version }}
 Ansvarig: {{ admin_contact }}
 Hanteras av Ansible. Manuella ändringar skrivs över.
===========================================
